{% extends 'base.html' %}

{% block content %}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Jai Hanuman</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to Jai Hanuman Hybrid Nursery</p>
        </div>
    </div>
</header>
<br></br>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <p align="justify">
                    Jai Hanuman Hybrid Nursery is a dedicated agricultural nursery specializing in the cultivation of high-quality chili plants and a variety of vegetables. The nursery focuses on hybrid plant varieties, ensuring better yield, disease resistance, and improved growth. With a commitment to sustainable farming practices, Jai Hanuman Hybrid Nursery provides healthy seedlings to farmers and gardening enthusiasts, helping them achieve successful harvests.
<br></br>
Our nursery offers:
<br>
✅ High-yield hybrid chili plants
<br>
✅ Quality vegetable seedlings for better productivity
<br>
✅ Expert guidance on plant care and growth techniques
<br>
✅ Sustainable and organic farming practices
<br>

Jai Hanuman Hybrid Nursery is dedicated to enhancing agricultural productivity and supporting farmers with the best-quality hybrid plants. 🌱🌶🥦
<br></br>
                </p>
            </div>
        </center>
    </div>
</div>

{% endblock %}
